@import '../../../Sass/mediaQuery';
.burger-builder-logo {
     height: 5rem;
     border-radius: 3px;
     padding: .5rem;
}
.burger-builder-logo img {
     height: 100%;
}
/*#434B56
#434B56
#434B56
#434B56
#434B56
#434B56
#434B56*/