@import '../../Sass/mediaQuery';
.model {
     --width: 900px;
     max-width: var(--width);
     width: 90%;
     background: #fff;
     color: rgb(0, 0, 0);
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -30rem);
     box-shadow: 1rem 1rem 2rem rgba(000,000,000,.4);
     z-index: 10000;
     opacity: 0;
     visibility: hidden;
     border-radius: .5rem;
     display: flex;
     overflow: hidden;
     &__burger-icon {
          background: linear-gradient(to right,#F9B640 0%, #FFBD41 50%, #fff 50%);
          width: 0%;
          justify-content: center;
          align-items: center;
          display: none;
          @include responsive (md) {
               display: flex;
               width: 20%;
          }
          @include responsive (lg) {width: 30%;}
          img{
               width: 50%;
               display: block;
          }
     }
     &__chart {
          width: 90%;
          margin:auto;
          @include responsive (md) {width: 80%;}
          @include responsive (lg) {width: 70%;}
     }
}

.show {
   animation: showModel .5s forwards cubic-bezier(0,.86,.62,1.22);
}
.model-exit {
     transform: translate(-50%,-50%);
     opacity: 1;
     visibility: visible;
}
.model-exit-active {
    animation: hideModel .3s forwards;
}
@keyframes hideModel {
     100%{
          transform: translate(-50%, -30rem);
          opacity: 0;
          visibility: hidden;
     }
}
@keyframes showModel {
     100%{
          transform: translate(-50%,-50%);
          opacity: 1;
          visibility: visible;
     }
}
