@import '../../Sass/mediaQuery';
.burger {
     padding: .5rem 0;
     text-align: center;
     margin: 7rem auto 0;
     max-width: 50rem;
     width: 90%;
     max-width: 40rem;
     overflow: auto;
     height: 30rem;
     @include responsive (lg){
          height: 40rem;
     };
}
.aleart{
     text-transform: capitalize;
     font-size: 1.6rem;
     font-weight: 600;
}