@import '../../Sass/mediaQuery';
.burger {
     text-align: center;
     margin:8rem auto 3rem;
     max-width: 40rem;
     max-height: 40rem;
     width: 90%;
     position: relative;
     overflow-y: auto;
     @include responsive (lg){
          margin:auto;
     };
}
.aleart{
     text-transform: capitalize;
     font-size: 1.6rem;
     font-weight: 600;
}
$animation: .5s;
.fade-enter {
     opacity: 0;
     transform: translate(-50px);
}
.fade-enter-active {
     opacity: 1;
     transform: translate(0);
     transition: all $animation;
}
.fade-exit {
     opacity: 1;
}
.fade-exit-active {
     opacity: 0;
     transform: translate(50px);
     transition: all $animation;
}
.burger-enter {
     opacity: 0;
}
.burger-enter-active {
     opacity: 1;
     transition: all .5s;
}