@import '../../Sass/mediaQuery';
.burger {
     text-align: center;
     margin:8rem auto 3rem;
     max-width: 40rem;
     max-height: 40rem;
     width: 90%;
     position: relative;
     overflow-y: auto;
     @include responsive (lg){
          margin:auto;
     };
}
.aleart{
     text-transform: capitalize;
     font-size: 1.6rem;
     font-weight: 600;
}