
.burger-control {
     width: 90%;
     max-width: 50rem;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: .7rem 0;
     font-weight: 600;
     &__label {
          font-size: 1.4rem;
          color: rgba(#000000, .9);
     }
     &__button-group{
          button:not(:last-child) {
               margin-right: 1rem;
          }
     }
}