@import '../../../Sass/mediaQuery';
@import '../../../Sass/humber';
$toolbarHeight : 7rem;
$humbar-size: 4rem;
$humbar-Height : .4rem;
$bg-1: #FFBD41;
$bg-2: #F9B640;
.toolbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
     padding: .5rem 1rem;
     z-index: 2000;
     background: transparent;
     background: #fff;
     @include responsive(lg) {
          background: transparent;
     };
	nav {
          color: #fff;
          transition: all .5s;
          background: transparent;
          padding-right: 3rem;
     }
}
