.auth__section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	&-burger {
		width: 35%;
		background: linear-gradient(to right, #f9b640 0%, #ffbd41 50%, #fff 50%);
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: burger .5s forwards cubic-bezier(0,.86,.63,1.03);
		img {
			width: 60%;
			margin: auto;
			height: 60%;
			display: block;
		}
	}
}
@keyframes burger {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

.singup-form-enter {
	opacity: 0;
	transform: translateY(-100px);
}
.singup-form-enter-active {
	opacity: 1;
	transform: translateY(0px);
	transition: all 1s cubic-bezier(0,.86,.62,1.22);
}
.singup-form-exit {
	transform: translateY(0px);
	opacity: 1;
}
.singup-form-exit-active {
	transform: translateY(-100px);
	opacity: 0;
	transition: all 1s cubic-bezier(0,.86,.62,1.22);
}
.login-form-enter {
	transform: translateY(-100px);
	opacity: 0;
}
.login-form-enter-active {
	transform: translateY(0);
	opacity: 1;
	transition: all 1s cubic-bezier(0,.86,.62,1.22);
}
.login-form-exit {
	transform: translateY(-100px);
	opacity: 0;
}
.login-form-exit-active {
	transform: translateY(0);
	opacity: 1;
	transition: all 1s cubic-bezier(0,.86,.62,1.22);
}
