.order-summary {
     &__title{
          font-size: 2rem;
          text-align: center;
     }
     &__sub-title{
          font-size: 1.4rem;
          text-align: center;
     }
     &__list{
          list-style: none;
          padding: 1.6rem;
          li {
               font-size: 1.6rem;
               padding: .5rem 0;
          }
     }
     &__text {
          font-size: 1.6rem;
          padding: .3rem 0;
          text-align: center;
     }
     &__button-group{
          text-align: center;
          padding: 1rem 0;
          button:not(:last-child) {
               margin-right: 1rem;
          }
     }
}
