@import '../../../Sass/mediaQuery';
@import '../../../Sass/mixin';
.burger {
	&-controls {
		align-self: stretch;
		flex-grow: 1;
		padding: 2rem 0;
		background: linear-gradient(to right,#F9B640 , #FFBD41);
		@include responsive(lg) {
			position: relative;
			padding:0;
			width: 50%;
			background: linear-gradient(to right,#F9B640 0%, #FFBD41 50%, #fff 50%);
			flex-grow: 0;
		}
	}
	&-wrapper {
		background: #fff;
		border-radius: .7rem;
		overflow: hidden;
		width: 25rem;
		margin: auto;
		padding: 2rem;
		box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.4);
		@include responsive(lg) {
			@include positionItem(55%,50%);
			transform: translate(-45%,-50%);
		}
	}
	&__price {
		font-size: 1.6rem;
		width: 13rem;
		height: 4rem;
		border-radius: .4rem;
		background: #fff;
		box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.4);
		margin:0 auto 2rem;
		@include centerItem;
		@include responsive(lg) {
			@include positionItem(10%, 50%);
			transform: translate(-50%, 75%);
			box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.4);
		}
		span {
			background: rgb(255, 202, 111);
			width: 3.2rem;
			height: 3.2rem;
			@include centerItem;
			display: inline-flex;
			border-radius: 50%;
			margin-left: .4rem;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
		}
	}
	&__order-button {
		font-size: 1.6rem;
		width: 13rem;
		height: 4rem;
		background: transparent;
		color: rgba(000, 000, 000, .9);
		border: 2px solid rgba(000, 000, 000, .9);
		display: block;
		box-shadow: 0 .2rem .3rem rgba(000, 000, 000, .5);
		margin: 2rem auto 0;
		cursor: pointer;
		border-radius: 10rem;
		position: relative;
		overflow: hidden;
		&:hover,&:active{
			border: 1px solid rgba(000, 000, 000, .9);
		}
		&:hover span:last-child,
		&:active span:first-child {
			transform: translateY(0);
		}
		&:hover span:first-child,
		&:active span:first-child {
			transform: translateY(100%);
		}
		span {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include centerItem;
			transition: all .4s cubic-bezier(.06,.6,.41,.98);
			&:last-child {
				background:rgb(255, 191, 80);
				transform: translateY(-100%);
			}
		}
		&:disabled {
			opacity: .8;
		}
	}
}
