@mixin ing($maring,$index) {
	margin-top: $maring;
	z-index: $index;
}
.burger {
	&__part {
		width: 100%;
		height: 100px;
		position: relative;
		img {
			width: 55%;
			display: block;
			margin: auto;
			height: 100%;
		}
	}
	&__top {
		height: 150px;
		margin-left: -1rem;
	}
	&__salad {
		@include ing (-3rem,-1);
	}
	&__bacon {
		@include ing (-5rem,-2);
	}
	&__chesse {
		@include ing (-5rem,-3);
	}
	&__meat {
		@include ing (-6.5rem,-4);
	}
	&__bottom {
		height: 150px;
		@include ing (-5rem,-5);
	}
}
